// Put your custom SCSS variables here
//PRIMARY
//$primary: white;
//$primary: #db2763;
$primary: #F02D3A;
$button-color-dark: #F02D3A;
//$button-color-dark: #ef476f;
//SECONDARY
$button-color: white;
$secondary: #0d6efd;
//$secondary: #2364AA;
$link-color: white;
$link-color-dark: white;
//$link-color-dark: #00916e;
